{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "e"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ] 
}